{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html lang="en">
   <head>
      <title>SP Forum :: {{ forum.title }}</title>
   </head>

   <body>
      <header>
         <h1>{{ forum.title }}</h1>
         <h3>{{ forum.description }}</h3>
      </header>

      <article>
         <table class="threads">
            <tbody>
               {% for thread in threads %}
                  <tr>
                     <th><a href="{% url 'thread-detail-by-slug' forum_slug=forum.slug thread_slug=thread.slug %}">{{ thread.title }}</a></th>
                     <td>{{ thread.author.username }}</td>
                  </tr>
               {% empty %}
                  <tr><td>There are no threads...</td></tr>
               {% endfor %}
            </tbody>
         </table>
      </article>

      {% render_bundle 'main' %}
   </body>
</html>
