{% extends 'forum/template_page_default.html' %}

{% block header %}
   <head>
      <title>SP Forum :: {{ forum.title }}</title>
   </head>
{% endblock header %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' 'forum:index' %}
   {% breadcrumb forum.title %}
{% endblock breadcrumbs %}

{% block content %}
   <h1>{{ forum.title }}</h1>
   <h3>{{ forum.description }}</h3>
   <hr>

   <table class="threads">
      <tbody>
         {% for thread in threads %}
            <tr>
               <th><a href="{% url 'forum:thread-detail-by-slug' forum_slug=forum.slug thread_slug=thread.slug %}">{{ thread.title }}</a></th>
               <td>{{ thread.author.username }}</td>
            </tr>
         {% empty %}
            <tr><td>There are no threads...</td></tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock content %}

{% block scripts %}
   {% load render_bundle from webpack_loader %}
   {% render_bundle 'base' 'css' %}
{% endblock scripts %}
