{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html lang="en">
   <head>
      <title>SP Forum</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
   </head>

   <body>
      <section class="main-content">
         <div id="editor-area">
            TODO: implement non-javascript version
         </div>

         <table class="posts">
            <tbody>
               {% for post in posts %}
                  <tr>
                     <th class="post-meta">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
                     <td class="post-content">{{ post.content|safe }}</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </section>

      <script>
         window.django = {};
         window.django.editor_action = "{% url 'post-list' %}";
      </script>
      {% render_bundle 'main' %}
   </body>
</html>
