{% extends 'forum/template_page_default.html' %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' '' %}
{% endblock breadcrumbs %}

{% block content %}
   <article>
      <table class="forums">
         <thead>
            <tr>
               <th>Rooms</th>
               <td></td>
            </tr>
         </thead>
         <tbody>
            {% for forum in forums %}
               <tr>
                  <th><a href="{% url 'forum:forum-detail-by-slug' forum_slug=forum.slug %}">{{ forum.title }}</a></th>
                  <td>{{ forum.description }}</td>
               </tr>
            {% empty %}
               <tr><td>There are no forums...</td></tr>
            {% endfor %}
         </tbody>
      </table>
   </article>
{% endblock content %}
