{% extends 'forum/template_page_default.html' %}

{% block header %}
   <head>
      <title>SP Forum :: New Thread</title>
   </head>
{% endblock header %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' 'forum:index' %}
   {% breadcrumb forum.title 'forum:forum-detail-by-slug' forum_slug=forum.slug %}
   {% breadcrumb 'Create New Thread' %}
{% endblock breadcrumbs %}

{% block content %}
   <h1>[Title goes here]</h1>
   <h3>OP: {{ thread.author|default:"Anonymous" }}</h3>

   <table class="posts_list">
      <tbody>
         <tr>
            <!-- TODO: replace this with new post meta information -->
            <th class="posts_list_header">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
            <td class="posts_list_data">
               <div id="new-thread-editor">
                  TODO: implement non-javascript version..., BIIIIITCH
               </div>
            </td>
         </tr>
      </tbody>
   </table>

{% endblock content %}

{% block scripts %}
   {% load render_bundle from webpack_loader %}
   {% render_bundle 'base' 'css' %}
   {% render_bundle 'editor' %}

   <script>
      // local page variables
      var thread_exists = false;

      // set up editor variables
      props = {
         'post': {
            'thread': "{{ thread.id }}",
            'forum': "{{ forum.id }}",
         },
         'editor_action': "{% url 'api:post-list' %}",
         'pre_submit': function(event, editor) {
            // capture dis bitch for AJAX promise
            var editor = editor;

            // TODO: get thread title
            var thread_title = encodeURIComponent("[Title goes here???]");
            var forum_id = encodeURIComponent(editor.props.post.forum);

            // AJAX request to API to create new thread object
            var create_thread_promise = fetch("{% url 'api:thread-list' %}", {
               credentials: 'include',
               method: 'post',
               mode: 'same-origin',
               headers: {
                  "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                  "X-CSRFToken": forum_js.utils.getCookie('csrftoken')
               },
               // TODO: need to include author field here
               body: "title=" + thread_title + "&forum=" + forum_id
            })
            .then(function(response) {
               response.json().then(function(data) {
                  // populate hidden form element in editor status bar with new thread id
                  document.forms[editor.props.editor_id + "_form"].children.thread.value = data.id;
               })
            });

            return create_thread_promise;
         },
         'post_submit': function(event, editor, response) {
            response.json().then(function(data) {
               // update the posts_list with the new post
               var post_list = document.getElementsByClassName("posts_list")[0];
               var num_rows = post_list.getElementsByTagName("tr").length;
               var new_post = post_list.insertRow(num_rows - 1);

               var post_info = document.createElement('th');
               var post_content = new_post.insertCell(0);

               post_content.insertAdjacentElement("beforebegin", post_info);

               post_info.classList.add("posts_list_header");
               post_content.classList.add("posts_list_data");

               post_info.innerHTML = data.author ? data.author.username : "Anonymous";
               post_content.innerHTML = data.content;
            })
         },
      }

      // mount editor on DOM
      forum_js.load_editor('new-thread-editor', props);
   </script>
{% endblock scripts %}
