{% extends 'forum/template_page_default.html' %}

{% block header %}
   <head>
      <title>SP Forum :: New Thread</title>
   </head>
{% endblock header %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' 'forum:index' %}
   {% breadcrumb forum.title 'forum:forum-detail-by-slug' forum_slug=forum.slug %}
   {% breadcrumb 'Create New Thread' %}
{% endblock breadcrumbs %}

{% block content %}
   <!-- TODO: figure out how to style this -->
   <div id="title-editor">TODO: non-javascript title here?</div>
   <h3>OP: {{ thread.author|default:"Anonymous" }}</h3>

   <table class="posts_list">
      <tbody>
         <tr>
            <!-- TODO: replace this with new post meta information -->
            <th class="posts_list_header">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
            <td class="posts_list_data">
               <div id="post-editor">
                  TODO: implement non-javascript version..., BIIIIITCH
               </div>
            </td>
         </tr>
      </tbody>
   </table>

{% endblock content %}

{% block scripts %}
   {% load render_bundle from webpack_loader %}
   {% render_bundle 'main' %}

   <script>
      // set up editor variables for title editor (we will not be submitting this)
      title_props = {
         has_status_bar: false,
         id: 'title-editor',
         placeholder: "Enter a thread title",
         onKeyDown: function(event, editor, next) {
            // prevent users (desktop and Android Chrome) from pressing enter in this editor
            if (event.keyCode === 13) {
               event.preventDefault();
               event.stopPropagation();
            }

            // 8 is backspace and 46 is delete
            const delta = (event.keyCode === 8 || event.keyCode === 46 ? -1 : 1);
            const block0_len = editor.state.block0_len ? delta + editor.state.block0_len : Math.max(0, delta);

            // drop input if max length is reached
            if (block0_len > 200) {
               event.preventDefault();
               event.stopPropagation();
            } else {
               editor.setState({ block0_len });
            }
         },
      };

      // mount title editor on DOM
      const title_editor = forum_js.load_editor(title_props);

      // set up editor variables for post editor
      main_editor_props = {
         action: "{% url 'api:thread-list' %}",
         id: 'post-editor',
         onSubmit: function(event, editor, response) {
            // data to send through POST
            const post_data = {
               title: JSON.stringify(title_editor.state.value.toJSON()),
               forum: editor.props.post.forum,
               content: JSON.stringify(editor.state.value.toJSON()),
            };

            return post_data;
         },
         onSubmitPost: function(event, editor, response) {
            function get_thread_details(thread_id) {
               return "{% url 'api:thread-detail' pk=1337 %}".replace('1337', thread_id);
            }

            function get_thread_page(thread_slug) {
               return "{% url 'forum:thread-detail-by-slug' thread_slug=1337 %}"
                  .replace('1337', thread_slug);
            }

            response.json().then(function(data) {
               return fetch(get_thread_details(data.id));
            })
            .then(function(response) {
               response.json().then(function(data) {
                  // redirect to new thread page
                  window.location.replace(get_thread_page(data.slug));
               });
            })
         },
         post: {
            thread: "{{ thread.id }}",
            forum: "{{ forum.id }}",
         },
      }

      // mount post editor on DOM
      forum_js.load_editor(main_editor_props);
   </script>
{% endblock scripts %}
