{% extends 'forum/template_page_default.html' %}

{% block header %}
   <head>
      <title>SP Forum :: {{ thread.title }}</title>
   </head>
{% endblock header %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' 'forum:index' %}
   {% breadcrumb forum.title 'forum:forum-detail-by-slug' forum_slug=forum.slug %}
   {% breadcrumb thread.title %}
{% endblock breadcrumbs %}

{% block content %}
   <h1>{{ thread.title }}</h1>
   <h3>OP: {{ thread.author }}</h3>
   <hr>

   <table class="posts">
      <tbody>
         {% for post in posts %}
            <tr>
               <th class="post-meta">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
               <td class="post-content">{{ post.content|safe }}</td>
            </tr>
         {% empty %}
            <tr><td>There are no posts in this thread...</td></tr>
         {% endfor %}

         <tr>
            <!-- TODO: replace this with new post meta information -->
            <th class="post-meta">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
            <td class="post-content">
               <div id="editor-area">
                  TODO: implement non-javascript version
               </div>
            </td>
         </tr>
      </tbody>
   </table>
{% endblock content %}

{% block scripts %}
   <script>
      window.django = {};
      window.django.thread_id = "{{ thread.id }}";
      window.django.editor_action = "{% url 'forum:post-list' %}";
   </script>

   {% load render_bundle from webpack_loader %}
   {% render_bundle 'base' 'css' %}
   {% render_bundle 'editor' %}
{% endblock %}
