{% extends 'forum/template_page_default.html' %}

{% block header %}
   <head>
      <title>SP Forum :: {{ thread.title }}</title>
   </head>
{% endblock header %}

{% load breadcrumbs %}
{% block breadcrumbs %}
   {% breadcrumb 'Home' 'forum:index' %}
   {% breadcrumb forum.title 'forum:forum-detail-by-slug' forum_slug=forum.slug %}
   {% breadcrumb thread.title %}
{% endblock breadcrumbs %}

{% block content %}
   <h1>{{ thread.title }}</h1>
   <h3>OP: {{ thread.author|default:"Anonymous" }}</h3>

   <table class="posts_list">
      <tbody>
         {% for post in posts %}
            <tr>
               <th class="posts_list_header">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
               <td class="posts_list_data">{{ post.content|safe }}</td>
            </tr>
         {% empty %}
            <tr><td class="posts_list_data">There are no posts in this thread...</td></tr>
         {% endfor %}

         <tr>
            <!-- TODO: replace this with new post meta information -->
            <th class="posts_list_header">{% if post.author %}{{ post.author.username }}{% else %}Anonymous{% endif %}</th>
            <td class="posts_list_data">
               <div id="editor-area">
                  TODO: implement non-javascript version
               </div>
            </td>
         </tr>
      </tbody>
   </table>
{% endblock content %}

{% block scripts %}
   {% load render_bundle from webpack_loader %}
   {% render_bundle 'base' 'css' %}
   {% render_bundle 'editor' %}

   <script>
      // set up editor variables
      props = {
         'post': {
            'thread': "{{ thread.id }}",
         },
         'editor_action': "{% url 'api:post-list' %}",
         'post_submit': function(event, editor, response) {
            response.json().then(function(data) {
               var post_list = document.getElementsByClassName("posts_list")[0];
               var num_rows = post_list.getElementsByTagName("tr").length;
               var new_post = post_list.insertRow(num_rows - 1);

               var post_info = document.createElement('th');
               var post_content = new_post.insertCell(0);

               post_content.insertAdjacentElement("beforebegin", post_info);

               post_info.classList.add("posts_list_header");
               post_content.classList.add("posts_list_data");

               post_info.innerHTML = data.author ? data.author.username : "Anonymous";
               post_content.innerHTML = data.content;
            })
         },
      }

      // mount editor on DOM
      forum_js.load_editor('editor-area', props);
   </script>
{% endblock scripts %}
