// default css styles governing breadcrumb navigation

.breadcrumb-container {
   min-height: 1em;
   float: left;
   list-style-type: none;
   background: $accent-tertiary1;
   border-radius: $border-radius;
   overflow: auto;
   padding: 0 30px;
   margin-bottom: 20px;
}

.breadcrumb-container li {
   display: list-item;
   float: left;
   padding: 5px 10px;
}

.breadcrumb-container li:before {
   width: 0.33em;
   height: 0.33em;

   content: "";

   display: inline-block;
   border-right: 3px solid black;
   border-bottom: 3px solid black;

   transform: rotate(-45deg) translate(0.115em, 0);

   margin-left: -0.25em;
   margin-right: 1em;
}

.breadcrumb-container li:first-child:before {
   display: none;
}

.breadcrumb-container li a {
   max-width: 300px;
   display: block;
   white-space: nowrap;
   overflow: hidden;
   float: right;
   text-overflow: ellipsis;
   text-decoration: none;
}

.breadcrumb-container li a:visited {
   color: inherit;
}

.breadcrumb-container li a:hover {
   text-decoration: underline;
   text-decoration-color: $accent-tertiary2;
}

.breadcrumb-container li a.no-click {
   cursor: default;
}

.breadcrumb-container li a.no-click:hover {
   text-decoration: none;
}
