// common css includes

// dimensions
$site-width: 50%;
$header-content-width: 60%;

$min-site-width: 700px;
$min-header-content-width: 800px;

// fonts
$default-font-size: 16pt;

// spacing
$site-padding-top:    5px;
$site-padding-bottom: 5px;
$site-padding-left:   5px;
$site-padding-right:  5px;

// colors
$accent-primary1: #688EB0;
$accent-primary2: #99BEDE;

$accent-secondary1: #EFEFEF;
$accent-secondary2: #DDDDDD;
$accent-secondary3: #FDFDFD;

$accent-tertiary1: #FFB463;
$accent-tertiary2: #E37A09;

$background-primary: #FDFDFD;
