@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import 'base';

* {
   margin: 0;
   padding: 0;
}

html, body {
   width: 100%;
   font-family: "Source Sans Pro", "Sans Serif";
   font-size: $default-font-size;
}

.header {
   width: 100%;
   background: $accent-primary1;
}

.header_content {
   width: $site-width;
   padding: 0 $site-padding-right 0 $site-padding-left;
   margin: 0 auto;
}

.logo {
   color: $accent-secondary1;
}

.second_header {
   width: 100%;
   min-height: 40px;
   background: $accent-primary2;
}

.second_header_content {
   width: $site-width;
   color: $accent-secondary1;
   padding: $site-padding_top $site-padding-right $site-padding-bottom $site-padding-left;
   margin: 0 auto;
}

.body_wrapper {
}

.backing {
   width: 100%;
   height: 350px;
   display: block;
   background: $accent-secondary1;
   border-bottom: 1px solid $accent-secondary2;
   position: absolute;
}

.pre_main_content {
   width: 100%;
   overflow: auto;
}

.main_content {
   width: $site-width;
   min-height: 500px;
   background: $background-primary;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
   border-left: 1px solid $accent-secondary2;
   border-right: 1px solid $accent-secondary2;
   padding: 15px;
}

.footer {
   width: 100%;
   min-height: 300px;
   background: $accent-primary1;
}

hr {
   color: $accent-secondary1;
   background-color: $accent-secondary1;
   border: 1px solid $accent-secondary2;
   margin: 1em 0;
}

.breadcrumb-container {
   min-height: 1em;
   float: left;
   list-style-type: none;
   background: #FFB463;
   border-radius: 5px;
   overflow: auto;
   padding: 0 30px;
   margin-bottom: 20px;
}

.breadcrumb-container li {
   display: list-item;
   float: left;
}

.breadcrumb-container li:before {
   width: 0.33em;
   height: 0.33em;

   content: "";

   display: inline-block;
   border-right: 3px solid black;
   border-bottom: 3px solid black;

   transform: rotate(-45deg);
   margin: 0 10px;
}

.breadcrumb-container li:first-child:before {
   display: none;
}

.breadcrumb-container li a {
   display: inline-block;
   padding: 5px 10px;
}

.breadcrumb-container li a:visited {
   color: inherit;
}

.breadcrumb-container li a:hover {
   background: #E69947;
}

.breadcrumb-container li a.no-click {
   cursor: default;
   text-decoration: none;
}

.breadcrumb-container li a.no-click:hover {
   background: transparent;
}

p.content {
   min-height: 1em;
   font-size: $default-font-size;
   font-family: 'Source Sans Pro', sans-serif;

   word-break: break-word;

   margin: 0;
   padding: 0;
}

/* this is to make empty lines the same height as non empty lines */
p.content:after {
   content: '\200B';
   min-height: 1em;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

table.forums {
   width: 100%;
   margin: 0 auto;
}

table.forums th, table.forums td {
   border: 1px solid grey;
}

table.threads {
   width: 100%;
   margin: 0 auto;
}

table.threads th, table.threads td {
   border: 1px solid grey;
}

table.posts {
   width: 100%;
   font-size: $default-font-size;
}

table.posts th {
   vertical-align: top;
}

table.posts th, table.posts td {
   border-bottom: 1px solid grey;
   padding: 15px 25px;
}

table.posts tr:last-of-type th, table.posts tr:last-of-type td {
   border: 0;
}

table.posts .post-meta {
   width: 300px;
   background: #D4D4D4;
}
