@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import 'base';

$site-width: 600px;

* {
   margin: 0;
   padding: 0;
}

html, body {
   width: 100%;
   font-size: $default-font-size;
}

ul.breadcrumb-container {
   min-height: 1em;
   list-style-type: none;
   background: #FFB463;
   border-radius: 5px;
   overflow: auto;
   padding: 0 30px;
   margin: 10px 20px;
}

ul.breadcrumb-container li {
   display: list-item;
   float: left;
}

ul.breadcrumb-container li:before {
   width: 0.33em;
   height: 0.33em;

   content: "";

   display: inline-block;
   border-right: 3px solid black;
   border-bottom: 3px solid black;

   transform: rotate(-45deg);
   margin: 0 10px;
}

ul.breadcrumb-container li:first-child:before {
   display: none;
}

ul.breadcrumb-container li a {
   display: inline-block;
   text-decoration: none;
   padding: 5px 10px;
}

ul.breadcrumb-container li a:visited {
   color: inherit;
}

ul.breadcrumb-container li a:hover {
   background: #E69947;
}

ul.breadcrumb-container li a.no-click {
   cursor: default;
   text-decoration: none;
}

ul.breadcrumb-container li a.no-click:hover {
   background: transparent;
}

section.main-content {
   width: $site-width;
   margin: 0 auto;
}

p.content {
   min-height: 1em;
   font-size: $default-font-size;
   font-family: 'Source Sans Pro', sans-serif;

   word-break: break-word;

   margin: 0;
   padding: 0;
}

/* this is to make empty lines the same height as non empty lines */
p.content:after {
   content: '\200B';
   min-height: 1em;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

table.forums {
   width: 80%;
   margin: 2em auto;
}

table.forums th, table.forums td {
   border: 1px solid grey;
}

table.threads {
   width: 80%;
   margin: 2em auto;
}

table.threads th, table.threads td {
   border: 1px solid grey;
}

table.posts {
   width: 100%;
   font-size: $default-font-size;
   margin: 2em 0;
}

table.posts th {
   vertical-align: top;
}

table.posts th, table.posts td {
   border-bottom: 1px solid grey;
   padding: 5px;
}

table.posts tr:last-of-type th, table.posts tr:last-of-type td {
   border: 0;
}

table.posts .post-meta {
   width: 200px;
   background: #D4D4D4;
}
