dj-database-url==0.5.0
Django==2.2.4
django-filter==2.2.0
django-webpack-loader==0.6.0
djangorestframework==3.10.2
Markdown==3.1.1
psycopg2==2.8.4
pytz==2019.2
selenium==3.141.0
sqlparse==0.3.0
urllib3==1.25.6
waitress==1.4.1
whitenoise==4.1.4
