@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
}

html, body {
   width: 100%;
}

section.main-content {
   width: 600px;
   margin: 0 auto;
}

p.content {
   min-height: 1em;
   font-size: 16pt;
   font-family: 'Source Sans Pro', sans-serif;

   word-break: break-word;

   margin: 0;
   padding: 0;
}

/* this is to make empty lines the same height as non empty lines */
p.content:after {
   content: '\200B';
   min-height: 1em;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

table.posts {
   width: 100%;
   font-size: 16pt;
   margin: 2em 0;
}

table.posts th {
   vertical-align: top;
}

table.posts th, table.posts td {
   border-bottom: 1px solid grey;
   padding: 5px;
}

table.posts tr:last-of-type th, table.posts tr:last-of-type td {
   border: 0;
}

table.posts .post-meta {
   width: 200px;
   background: #D4D4D4;
}
